html, body{
    margin: 0;
    padding: 0;
    /* body { */
    /* background: linear-gradient(to bottom right, #0099ff, #66ccff); */
      /* } */
      
}



/* div{
    border: 1px solid black;
} */
.main-container{
    border: 1px solid black;
    /* background-color: black; */
    /* height: 100vh; */
    overflow-y: auto;
    display: inline-block;
}

button{
    border: none;
    background: transparent;
    height: 20px;
    width: 20px;
}
button.img{

    height: 8px;
    width: 8px;
}


#current-temp {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw; /* or any other value that suits your needs */
    height: 100%;
  }