body{
    margin: 0;
    padding: 0;
    /* body { */
    /* background: linear-gradient(to bottom right, #0099ff, #66ccff); */
      /* } */
      
}



/* .row{
    
    background: linear-gradient(to bottom right, #0099ff, #66ccff);
        
} */
.main-container{
    border: 1px solid black;
    /* background-color: black; */
    height: 100vh;
    display: inline-block;
}

button{
    border: none;
    background: transparent;
    height: 20px;
    width: 20px;
}
button.img{

    height: 8px;
    width: 8px;
}